@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-paytone {
    font-family: "Paytone One", sans-serif;
  }

  .img-main {
    position: absolute;
    z-index: 1;
    left: 0;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(to left, #a8d2e4 20%, transparent 65%);
  }

  @media (max-width: 880px) {
    .img-main {
    background-image: linear-gradient(to left, #a8d2e4 10%, transparent 65%);
    height: 65%;
    }
  }

  @media (max-width: 563px) {
    .img-main {
    background-image: linear-gradient(to left, #a8d2e4 -200%, transparent 95%);
    height: 65%;
  }
  }
  
  .linear-bg {
    background-image: linear-gradient(to top, #dbd9d9 50%, transparent 90%);
  }

  .linear-bg2 {
    background-image: linear-gradient(to top, #1c1c1c 1%, transparent 20%);
  }

  .linear-bg3 {
    background-image: linear-gradient(to top, #1c1c1c 100%, transparent 20%);
  }

  .linear-bg4 {
    background-image: linear-gradient(to bottom, #dbd9d9 10%, transparent 60%);
  }
  
  .linear-bg5 {
    background-image: linear-gradient(to top, #c7c6c6 10%, transparent 90%), linear-gradient(to left, #c7c6c6 10%, transparent 90%);
  }

  .hidd {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(+100%);
  }

  .show {
    opacity: 1;
    transition: all 2s;
    filter: blur(0px);
    transform: translateX(0%);
  }

  .hidd-header {
    opacity: 0;
    transition: all 1s;
    transform: translateY(-100%);
  }

  .show-header {
    opacity: 1;
    transition: all 1.5s;
    filter: blur(0px);
    transform: translateY(0%);
  }
  .img-arrow {
    background-image: url("../public/arrow.png");
    background-repeat: no-repeat;
    left: 20%;
    height: 500px; /* Adjust according to your design */
    width: 500px; /* Allows the width to adjust based on the height */
    bottom: -11%; /* Adjusted position from bottom */
  }

  .box-opt {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .button-92 {
    --c: #fff;
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
        var(--_p, 100%) / 300% no-repeat,
      #346cee;
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
    text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
      calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
    outline-offset: 0.1em;
    transition: 0.3s;
    box-shadow: 0 0 0 0.2em #0004;
  }

  .button-92:hover,
  .button-92:focus-visible {
    --_p: 0%;
    --_i: 1;
  }

  .button-92:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9Q #0005;
    transition: 0s;
  }

  .button-92 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    padding: 0.1em 0.3em;
  }

  .border-accordion {
    border-bottom: 4px solid #346cee;
  }

  .back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #a8d2e4;
    color: hsla(40, 12%, 5%, 1);
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
    transition: 250ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
  }
  
  .back-top-btn:is(:hover, :focus-visible) {
    background-color: var(--gold-crayola-1);
    box-shadow: var(--shadow-2);
  }
  
  .back-top-btn.active {
    opacity: 1;
    visibility: visible;
  }
}

@layer components {
}
